@use '../helpers' as *;


.burger-button {
  @include square(rem(34));
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  padding: rem(9) rem(5);
  color: var(--color-white);
  background-color: transparent;
  border: none;
  transition-duration: all 500ms;

  &__line {
    width: 100%;
    height: rem(2);
    border-radius: 1rem;
    background-color: currentColor;
    transition-duration: all 200ms;

    &:last-child {
      width: 55%;
      align-self: flex-end;
    }
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.25em -0.1em;

      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0%;
      }
    }
  }
}