@use '../helpers' as *;

.header {
  &__promo{
    padding-block: rem(20);
    border-bottom: var(--border);
    text-align: center;
    @include mobile {
      padding-block: rem(14);
    }
  }

  &__body {
    padding-block: rem(24);
    background-color: var(--color-dark-10);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }
  }

  &__overlay{
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      &:not(.is-active) {
        @include hide {
          translate: 100%;
        }
      }
    }
  }

  &__menu {
    &-list{
      display: flex;
      align-items: center;
      column-gap: rem(16);
    
      @include laptop {
        column-gap: rem(6);
      }
    }
    &-link{
      padding: rem(14) rem(24);
      color: var(--color-grey-50);
      @include laptop {
        padding: rem(10) rem(18);

      }
      &.is-active {
        background-color: var(--color-dark);
        font-weight: 500;
        color: var(--color-white);
        border: 1px solid var(--color-dark-20);
        border-radius: rem(10);
        pointer-events: none;
      }
      }
    }
}