@use 'helpers' as *;

:root {
  // colors variable
  --color-white: #fff;
  --color-black: #000;

  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-25: #404040;
  --color-dark-30: #4D4D4D;
  --color-dark-35: #595959;
  --color-dark-40: #666666;

  --color-grey-50: #7E7E81;
  --color-grey-60: #98989A;
  --color-grey-70: #B3B3B3;
  --color-grey-80: #CCCCCC;
  --color-grey-90: #E4E4E7;
  --color-grey-95: #F1F1F3;
  --color-grey-97: #F7F7F8;
  --color-grey-99: #FCFCFD;

  --color-red: #FF5500;
  --color-accent: #FFD11A;
  // font var
  --border: #{rem(1)} solid var(--color-dark-15);

  --font-family-base: 'Inter', 'sans-serif';
  --font-family-accent: 'Kumbh Sans', 'sans-serif';

  // content
  
  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;
  
  @include laptop {
    --container-width: #{rem(1280)};

  }
}